@model Course
@{
    ViewData["Title"] = "Course Update";
}

<h1>Update Course</h1>
    <form asp-action="Update">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label asp-for="Name" class="control-label">Course Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input class="form-control" type="text" asp-for="Name" />
            <input type="hidden" asp-for="CourseId"/>

            <br />

            <label asp-for="Description" class="control-label">Course Description</label>
            <span asp-validation-for="Description" class="text-danger"></span>
            <textarea class="form-control" type="email" asp-for="Description"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>